@layer theme, base, components, utilities;
@import "tailwindcss/utilities.css" layer(utilities);

@theme inline {
    --color-foreground: var(--editor-foreground);
    --color-primary: var(--editor-primary);
    --color-background: var(--editor-background);
}

@utility non-scaling-stroke {
    vector-effect: non-scaling-stroke;
}
