.sprotty {
    width: 100%;
    height: 100%;

    --editor-primary: var(--sidebar-primary);
    --editor-background: var(--background);
    --editor-foreground: var(--foreground);
    --editor-grid: oklch(from var(--ring) l c h / 60%);
    --editor-destructive: var(--destructive);
    --editor-ring: var(--ring);
    --editor-spacing: var(--spacing);
    --editor-font-weight-bold: 700;
}

.sprotty-wrapper svg {
    width: 100%;
    height: 100%;
    border: none !important;
    outline: none;
}

.sprotty.sprotty-hidden {
    top: 0;
    left: 0;
    pointer-events: none;
}

.sprotty.sprotty-hidden * {
    pointer-events: none !important;
}
