@layer theme, base, components, utilities;
@import "tailwindcss/utilities.css" layer(utilities);

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-foreground: var(--editor-foreground);
    --color-primary: var(--editor-primary);
    --color-background: var(--editor-background);
    --color-grid: var(--editor-grid);
    --color-destructive: var(--editor-destructive);
    --color-ring: var(--editor-ring);
    --spacing: var(--editor-spacing);
    --font-weight-bold: var(--editor-font-weight-bold);
    --color-accent: var(--editor-accent);
    --color-accent-foreground: var(--editor-accent-foreground);
    --color-border: var(--editor-border);
    --color-input: var(--editor-input);
    --color-popover: var(--editor-popover);
    --color-muted-foreground: var(--editor-muted-foreground);
    --color-toolbox: var(--editor-toolbox);
}

@utility non-scaling-stroke {
    vector-effect: non-scaling-stroke;
}

@utility stroke-linecap-square {
    stroke-linecap: square;
}

@utility field-sizing-content {
    field-sizing: content;
}

@utility no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none; /* IE 10+ */
    &::-webkit-scrollbar {
        display: none; /* Chrome/Safari/Webkit */
    }
}
