@layer theme, base, components, utilities;
@import "tailwindcss/utilities.css" layer(utilities);

@theme inline {
    --color-foreground: var(--editor-foreground);
    --color-primary: var(--editor-primary);
    --color-background: var(--editor-background);
    --color-grid: var(--editor-grid);
    --spacing: var(--editor-spacing);
    --font-weight-bold: var(--editor-font-weight-bold);
}

@utility non-scaling-stroke {
    vector-effect: non-scaling-stroke;
}

@utility stroke-linecap-square {
    stroke-linecap: square;
}

@utility field-sizing-content {
    field-sizing: content;
}
